<!DOCTYPE html>
<html>

<head>
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<meta name='author' content='Arya Wicaksana'>
	<meta name='designer' content='Arya Wicaksana'>
	<meta name='language' content='ID'>
	<meta name='description' content='Aplikasi online surah-surah dalam Al-Quran'>
	<title>Surah Al-Quran</title>
</head>

<body>
	<div id="app">
		<v-app>
			<v-main  transition="fade-transition">
				
					<template>
						<v-card class="mx-auto overflow-hidden">
							<v-app-bar color="deep-purple" dark>
								<v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
								<v-toolbar-title>Data Surah</v-toolbar-title>
							</v-app-bar>

							<v-navigation-drawer v-model="drawer" absolute temporary>
								<v-list nav dense>
									<v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
										<a href="./index.html" class="text-decoration-none">
											<v-list-item>
												<v-list-item-icon>
													<v-icon>mdi-book-open</v-icon>
												</v-list-item-icon>
												<v-list-item-title>Data Surah</v-list-item-title>
											</v-list-item>
										</a>

										<a href="#" class="text-decoration-none">
											<v-list-item>
												<v-list-item-icon>
													<v-icon>mdi-account</v-icon>
												</v-list-item-icon>
												<v-list-item-title>Tentang</v-list-item-title>
											</v-list-item>
										</a>
									</v-list-item-group>
								</v-list>
							</v-navigation-drawer>

							<template>
								<h2 class="text-center mt-3">Tentang Aplikasi</h2>
								<v-container>
								<p class="text-justify m-3">
								  Awalnya aplikasi ini dibuat untuk kebutuhan saya pribadi guna mendapatkan infomasi tentang surah-surah Al-Quran serta untuk meningkatkan motivasi saya dalam mempelajari Al-Quran. Namun beberapa waktu yang lalu, saya putuskan untuk mempublikasikan aplikasi ini sebagai portfolio pribadi saya. Dan harapan saya, semoga aplikasi ini dapat menjadi ladang amal bagi saya dan anda yang menggunakannya. Amiinn..
								</p></v-container>
							  </template>

							<template>
								<h2 class="text-center mt-3">Pembuat</h2>
								<v-container>
								<v-card
								  :loading="loading"
								  class="mx-auto my-3"
								>
								  <template slot="progress">
									<v-progress-linear
									  color="deep-purple"
									  height="10"
									  indeterminate
									></v-progress-linear>
								  </template>
							  
								  <v-img
									height="250"
									src="./a.jpg"
								  ></v-img>
							  
								  <v-card-title><h2>Arya W.</h2></v-card-title>
							  
								  <v-card-text>
				
							  
									<div class="mb-4 subtitle-1">
										Programmer & Desainer
									</div>
							  
									<div>Masih aktif berkreasi. Jika ada masukan atau request fitur di aplikasi ini, bisa kontak langsung kirim email saja dengan cara klik "Kontak" di bawah ini.</div>
								  </v-card-text>
							  
								  <v-divider class="mx-4"></v-divider>

								  <v-card-actions>
									<a href="mailto:someone@example.com" class="text-decoration-none">
									<v-btn
									  color="deep-purple lighten-2"
									  text
									  @click="reserve"
									>
									  Kontak
									</v-btn>
								</a>
								  </v-card-actions>
								</v-card>
							</v-container>
							  </template>
						</v-card>
					</template>

			</v-main>
		</v-app>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
	<script>
		new Vue({
			el: '#app',
			vuetify: new Vuetify(),
			data() {
				return {
					drawer: false,
					group: null,
					boilerplate: true,
					search: '',
					allsurah: []
				}
			},
			mounted() {
				fetch('https://api.banghasan.com/quran/format/json/surat')
					.then(response => response.json())
					.then(res => {
						res.hasil.map(function (surah) {
							surah.type = surah.type.replace("mekah", "Mekah");
							surah.type = surah.type.replace("madinah", "Madinah");
							surah.keterangan = surah.keterangan.replace(/<\/?[^>]+>/gi, '')
						})
						this.allsurah = res.hasil
					})
			},
			computed: {
				headers() {
					return [
						{
							text: 'Nama',
							align: 'start',
							sortable: false,
							value: 'nama',
						},
						{
							text: 'Jumlah Ayat',
							value: 'ayat',
						},
						{
							text: 'Turun di Kota',
							value: 'type'
						},
						{ text: 'Keterangan', value: 'data-table-expand' },
					]
				},
			}
		})
	</script>
</body>

</html>